.skills {
  display: flex;
  /*max-width: 960px;*/
  /*min-width: 400px;*/
  flex-wrap: wrap;
  align-content: center;
}

.skills img{
  height: 100px;
  margin: 0 20px 20px 20px;

  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.logoTitle {
  display: flex;
  max-width: 240px;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.projectTitle:hover {
  border-color: #49bf9d;
  color: #49bf9d !important;
}

.btt {
  width: 50px;
  height: 50px;
  text-indent: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 13px;
  background: url(../../images/fulls/btt.png);
}

/*ul.actions {
  display: flex;
}*/

#oneone {
  
}

.stick {
  position: fixed;
  top: 0;
  z-index: 1;
  background: white;
  width: 100%;
}

.minify {
  min-width: 7em;
  background: white;
}
